<div id="dwrap">
    <div class="container">
        <div class="row centered">
		  <h3>成果展示</h3>
          <div class="hline"></div>
		  <br>
		  <div class="text">
		    <a href="https://youtu.be/_EdJAqAAt9Y" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index01.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="https://www.youtube.com/embed/wt_8D8Nf3vs" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index02.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="http://www.youtube.com/embed/5VRXv_F6M2E" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index03.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="http://www.youtube.com/embed/ycTwbGvWdzk" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index04.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="http://www.youtube.com/embed/wsfj0qE4xE8" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index05.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="http://www.youtube.com/embed/p8ikuDLr-7Q" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index06.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		    <a href="https://www.youtube.com/embed/Opj7UDaBSZ0" target="_blank"><img class="demo_img" src="{{ "/assets/img/demo/demo_index07.png" | prepend: site.baseurl }}{{ client.img }}" class="img-responsive"></a>
		  </div>
		  <div style="clear:both"></div><br>
		  <span class="dmbutton"><a href="/pages/cn/demo.html" | prepend: site.baseurl ">更多</a></span>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/cwrap -->