    <!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><!--toggle @media (min-width: 768px)  -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a id="brand-picture" class="navbar-brand" href="/index.html">  <!--left-top picture -->
        <img alt="瑩端數位" src="/assets/img/cloudpe.png">
      </a>   
	  <a id="brand-name" class="navbar-brand" href="/index.html">瑩端數位</a>

    </div> <!--navbar-header -->
	
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown"> <!--關於瑩端 -->
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">關於瑩端</a>
		  <ul class="dropdown-menu" >
			  <li><a href="/pages/aboutus/about.html">公司簡介</a></li>
			  <li><a href="/pages/aboutus/services.html">經營項目</a></li>
			  <li><a href="/pages/aboutus/news.html">最新消息</a></li>
			  <li><a href="/pages/aboutus/client.html">公司客戶</a></li>	
		  </ul>
		</li>
		<li class="dropdown"><!--行動線上會議 -->
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">企業私有雲會議系統</a>
		  <ul class="dropdown-menu">
			  <li><a href="/pages/Meet/Meet_about.html" | prepend: site.baseurl ">產品簡介</a></li>
			  <li><a href="/pages/Meet/Meet_features.html" | prepend: site.baseurl ">功能特色</a></li>
			  <li><a href="/pages/Meet/Meet_scenario.html" | prepend: site.baseurl ">應用情境</a></li>
			  <li><a href="/pages/Meet/Meet_hardware.html">相關硬體</a></li>
		  </ul>
		</li>
		<li class="dropdown"><!--錄播教學系統 -->
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#">錄播教學系統</a>
		  <ul class="dropdown-menu">
			  <li><a href="/pages/Lecture/Lecture_lecture.html" | prepend: site.baseurl ">Lecture錄播系統</a></li>
			  <li><a href="/pages/Lecture/Lecture_MOOC.html" | prepend: site.baseurl ">MOOC課程平台</a></li>
			  <li><a href="/pages/Lecture/Lecture_service.html" | prepend: site.baseurl ">提供服務</a></li>
			  <li><a href="/pages/Lecture/Lecture_story.html" | prepend: site.baseurl ">成功案例</a></li>
		  </ul>
		</li>
        <li ><a class="centered" href="/pages/contact.html">聯絡瑩端</a></li><!--聯絡瑩端 -->
		<li class="dropdown"><!--language icon -->
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i id="lang_globe"class="fa fa-globe fa-lg" aria-hidden="true"></i></a><!--language icon -->
		  <ul class="dropdown-menu">
			  <li><a href="/index.html">繁體</a></li>
			  <li><a href="/pages/cn/index.html">简体</a></li>
			  <li><a href="/pages/eng/index.html">English</a></li>
		  </ul>
		</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--container -->
</div>