<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><!--toggle @media (min-width: 768px)  -->
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a id="brand-picture" class="navbar-brand" href="{{"/pages/eng/index.html" | prepend: site.baseurl }}">  <!--left-top picture -->
        <img alt="{{ site.title }}" src="/assets/img/cloudpe.png">
      </a>   
	  <a id="brand-name" class="navbar-brand" href="{{"/pages/eng/index.html" | prepend: site.baseurl }}">{{ site.title_eng }}</a>
    </div> <!--navbar-header -->
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <!-- <li {% if page.title == "Home" %}class="active"{% endif %}><a href="{{"/" | prepend: site.baseurl }}">首頁</a></li><!--Home --> -->
        <li class="dropdown"> <!--關於瑩端 -->
		  <a class="dropdown-toggle" id="nav_about" data-toggle="dropdown" href="#">About Us</a>
		  <ul class="dropdown-menu" >
			  <li><a href="{{"/pages/eng/aboutus/about.html" | prepend: site.baseurl }}">About</a></li>
			  <li><a href="/pages/eng/aboutus/services.html">Services</a></li>
			  <li><a href="/pages/eng/aboutus/news.html">News</a></li>
			  <li><a href="/pages/eng/aboutus/client.html">Clients</a></li>			  
		  </ul>
		</li>
		<li class="dropdown"><!--行動線上會議 -->
		  <a class="dropdown-toggle" id="nav_meet" data-toggle="dropdown" href="#">Cloudpe-Meet</a>
		  <ul class="dropdown-menu">
			  <li><a href="/pages/eng/Meet/Meet_about.html" | prepend: site.baseurl ">About Meet</a></li>
			  <li><a href="/pages/eng/Meet/Meet_features.html" | prepend: site.baseurl ">Features</a></li>
			  <li><a href="/pages/eng/Meet/Meet_scenario.html" | prepend: site.baseurl ">Scenario</a></li>
			  <li><a href="/pages/eng/Meet/Meet_hardware.html">Accessories</a></li>
		  </ul>
		</li>
		<!-- <li class="dropdown"><!--錄播教學系統 -->
		  <!-- <a class="dropdown-toggle" id="nav_leture" data-toggle="dropdown" href="#">LECTURE</a> -->
		  <!-- <ul class="dropdown-menu"> -->
			  <!-- <li><a href="#">About</a></li> -->
			  <!-- <li><a href="#">MOOC Platform</a></li> -->
			  <!-- <li><a href="#">Services</a></li> -->
			  <!-- <li><a href="#">Success Stories</a></li> -->
		  <!-- </ul> -->
		<!-- </li> -->
        <li {% if page.title == "Contact" %}class="active"{% endif %}><a class="centered" href="{{"/pages/eng/contact.html" | prepend: site.baseurl }}">Contact</a></li><!--聯絡瑩端 -->
		<li class="dropdown"><!--lang_globe -->
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i id="lang_globe"class="fa fa-globe fa-lg" aria-hidden="true"></i></a><!--globe icon -->
		  <ul class="dropdown-menu">
			  <li><a href="/index.html">繁體</a></li>
			  <li><a href="/pages/cn/index.html">简体</a></li>
			  <li><a href="/pages/eng/index.html">English</a></li>
		  </ul>
		</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--container -->
</div>