---
layout: content_cn
<!-- permalink: / -->
---

<div class="container">
  <h4 class="centered">Cloudpe-Lecture</h4>
  <div  class="container centered">
    <ul class="href_list">        
      <li><a href="/pages/cn/Lecture/Lecture_lecture.html" | prepend: site.baseurl ">Lecture录播系统</a></li>
      <li><a href="/pages/cn/Lecture/Lecture_MOOC.html" | prepend: site.baseurl ">MOOC课程平台</a></li>
      <li><a href="/pages/cn/Lecture/Lecture_service.html" | prepend: site.baseurl ">提供服务</a></li>
      <li><a href="/pages/cn/Lecture/Lecture_story.html" | prepend: site.baseurl ">成功案例</a></li>
    </ul>
  </div><!--/container -->
  <br>
</div>
  {{content}}